<% wrap_layout :layout do %>
    <h1><%= current_page.data.title %></h1>
    <hr>
    <%= yield %>
    <br/>
    --
    <%= current_page.data.date ? "Andres Cuervo, " + current_page.data.date : 'Andres Cuervo' %>
</article>
        </section>
        <aside id="social-stuff">
            <%url = "http://cwervo.com/" + current_page.path%>
            <a class="twitter-share-button"
                href="https://twitter.com/intent/tweet?url=<%= url.to_s %>&text=I just read:&via=acwervo">Tweet this!</a>
            <div class="fb-share-button" data-href="<%= url.to_s %>" data-layout="button_count"></div>
    </aside>
    <section id="comments">
        <h1 style="width: 100%;">diqus comments and social share links and stuffff goes here! :D</h1>
    </section>
<% end %>
