<!doctype html>

<html prefix="og: http://ogp.me/ns#">
<meta charset="utf-8">

<!-- Looking at the 'ol source code, huh? Well lucky you! Here's an easer egg:
    cwervo.com/easter-egg
          __
      .-*)) `*-.
     /*  ((*   *'.
    |   *))  *   *\
    | *  ((*   *  /
     \  *))  *  .'
 jgs  '-.((*_.-'

ASCII art courtesy of: http://www.chris.com/ascii/index.php?art=holiday/easter
-->

<!-- Always force latest IE rendering engine or request Chrome Frame -->
<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
<meta name="viewport" content="width=device-width" ></meta>
<link rel="shortcut icon" href="/images/favicon.png">

<!-- Use title if it's in the page YAML frontmatter -->
<title><%= current_page.data.title ? ( "cwervo.com - " + current_page.data.title.to_s ) : "cwervo.com" %></title>

<!-- Facebook Open Graph Protocol Stuff -->
<meta property="og:title" content="<%= current_page.data.title%>" />
<meta property="og:site_name" content="Cwervo.com - Thoughts Blog">
<meta property="og:type" content="article" />
<meta property="og:description" content="<%= current_page.data.description ? current_page.data.description : "Andres Cuervo's personal website!"%>" />
<meta property="og:url" content="<%= "http://www.cwervo.com" + current_page.url%>" />
<meta property="og:image" content="<%= "http://www.cwervo.com" + image_path("big-logo.png") %>" />

<%= stylesheet_link_tag "normalize" %>
<%= stylesheet_link_tag (current_page.data.title ?  'main' : 'index' ) %>
<%= (current_page.data.title == "Artists As Web Designers" ?  ( stylesheet_link_tag 'aawd' ) : '' ) %>
<%= (current_page.data.title == "Digital Art Portfolio" ?  ( stylesheet_link_tag 'baguetteBox' ) : '' ) %>
<%= (current_page.data.title == "Digital Art Portfolio" ?  ( javascript_include_tag 'baguetteBox' ) : '' ) %>
<%= current_page.data.title ? ( javascript_include_tag  "all" ) : '' %>
<%= ( current_page.data.title == "About" ) ? ( javascript_include_tag  "https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js") : '' %>
<%= current_article ? ( javascript_include_tag  "twitter-share-button" ) : '' %>


<body class="<%= page_classes %>">
    <%= current_article ?  '<div id="fb-root"></div>
    <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4&appId=876359652399612";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, \'script\', \'facebook-jssdk\'));</script>'
    : ''%>


<%= partial "nav-list"%>
<section class="content-wrapper">
    <section class="content">
        <%= yield %>
        <%= current_article ? "" : "</article></section>" %>
                                  </section>

                                  <!-- Click Tracking -->
                                  <a title="Real Time Web Analytics" href="https://clicky.com/100865482"></a>
                                  <script type="text/javascript">
                                      var clicky_site_ids = clicky_site_ids || [];
                                      clicky_site_ids.push(100865482);
                                      (function() {
                                          var s = document.createElement('script');
                                          s.type = 'text/javascript';
                                          s.async = true;
                                          s.src = '//static.getclicky.com/js';
                                          ( document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0] ).appendChild( s );
                                      })();
                                  </script>
                                  <noscript></noscript>
<%= (current_page.data.title == "Portfolio") ? (javascript_include_tag "https://npmcdn.com/isotope-layout@3.0.1/dist/isotope.pkgd.js") : '' %>
<%= (current_page.data.title == "Portfolio") ? (javascript_include_tag "portfolioIsotope.js") : '' %>
                              </body>

