---
title: Thoughts
description: A collection of words, most of them mine.
---

<h1 style="margin-bottom: 0"><%= current_page.data.title %></h1>
<h2 style="margin-top: 0.1em;"><%= current_page.data.description %></h2>
<%# This one vvv is for a most-recent panel! %>
<%# <% value = %x(ls -t -1 source/thoughts| head -5) %>
<%# This one though vvvv is for  %>
<%# <% value = %x(ls -lrt `find source/thoughts -mindepth 3 -not -empty -type d` | sed -e "s/  */ /g" | awk '{if (NR!=1) {print}}' | cut -d " " -f 6-) %>
<%# <% value.split("\n").each do |data|%>
    <%#     <% metadata = data.split(" ")%>
    <%#     <% for i in metadata.length%>
        <%#         <%= puts i %>
        <%#     <% end %>

    <%# <% value = %x(ls -t -1 source/thoughts| head -5) %>
    <%# <% value = %x(ls -t -1 `find source/thoughts -mindepth 3 -not -empty -type d`) %>

    <%# <!-- This, below, is experimental still! -- >
    <%# <% value = %x(ls -lrt `find source/thoughts -mindepth 3 -not -empty -type d` | sed -e "s/  */ /g" | awk '{if (NR!=1) {print}}' | cut -d " " -f 6-) %>
    <%# <% value.split("\n").each do |filename|%>
        <%#     <% filename = File.basename(filename, '.*') %>
        <%#     <% filename = File.basename(filename, '.*') %>
        <%# <%= "[#{filename.gsub('-',' ').split.map(&:capitalize).join(' ')}](#{filename}.html)\n" %>
        <%# <% end %>

    <% recent_count = 5%>
    <% number = ( blog.articles.length < recent_count) ? blog.articles.length : recent_count %>

    <% unless number < 1 %>
## <%= number %> Most Recent Posts!

    <% blog.articles[0...number].each do |article| %>
<article class="article-sample">
<h3>
<a href="<%= article.url %>"><%= article.title %></a>
<time><%= article.date.strftime('%b %e %Y') %></time>
</h3>

        <%= article.data.description %><a href="<%= article.url %>"> Read more</a>
        </article>
    <% end %>
<%end%>

<br>

---

<section class="blog-calendar">
<h2>Archive:</h2>
<ol>
<% blog.articles.group_by {|a| a.date.year }.each do |year, articles| %>
    <li>
    <h3><%= year %></h3>
    <ul>
    <% articles.each do |article| %>
        <li><a href="<%= article.url %>"><%= article.title %></a></li>
    <% end %>
    </ul>
    </li>
<% end %>
</ol>
<section>

---

<section class="blog-tag-list">
<ul>
  <% blog.tags.each do |tag, articles| %>
    <li>
      <h5><%= tag %></h5>
      <ul>
        <% articles.each do |article| %>
          <li><a href="<%= article.url %>"><%= article.title %></a></li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>

